[filter "lfs"]
	required = true
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
[user]
	name = Guishogt
	email = luishernan@gmail.com
[credential]
	helper = osxkeychain
[core]
	editor = code --wait --new-window
